<%- include('../partials/header') %>

    <title>Producto</title>

    <%- include('../partials/_header') %>

        <div class="container">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Agregar producto
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar producto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-ms-10">
                                <form action="/addProd" method="post" id="formProducto">
                                    <div class="form-group mt-2">
                                        <label for="">Nombre Producto</label>
                                        <input type="text" name="nombre" 
                                            class="form-control" id="nombre">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="">Precio</label>
                                        <input type="text" name="precio" class="form-control"
                                            id="precio">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label >Cantidad</label>
                                        <input type="text" name="cantidad"  class="form-control"
                                            id="cantidad">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="id_Proveedor">Selecciona el Proveedor</label>
                                        <% if (data.proveedor && data.proveedor.length > 0) { %>
                                            <select name="id_Proveedor" class="form-select" id="proveedor">
                                                <option selected disabled value="">Selecciona el proveedor</option>
                                                <% let selectedIds = []; %>
                                                <% for (let i = 0; i < data.proveedor.length; i++) { %>
                                                    <% if (!selectedIds.includes(data.proveedor[i].id)) { %>
                                                        <% selectedIds.push(data.proveedor[i].id); %>
                                                        <option value="<%= data.proveedor[i].id %>">
                                                            <%= data.proveedor[i].nombre %>
                                                        </option>
                                                    <% } %>
                                                <% } %>
                                            </select>
                                        <% } %>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label >Estado</label>
                                        <input type="text" name="estado"  class="form-control"
                                            id="estado">
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary mt-4" onclick="validarProducto()">Guardar producto</button>
                                        <button type="button" class="btn btn-secondary mt-4"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-10">
                    <table id="example" class="table table-bordered table-hover display nowrap">
                        <thead>
                            <tr class="bg-dark text-light text-center">
                                <th> ID </th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <% if(data.producto && data.proveedor){ %>
                                <% for(let i=0; i < data.producto.length; i++ ){%>
                                    <tr>
                                        <td>
                                            <%= (i+1) %>
                                        </td>
                                        <td>
                                            <%= data.producto[i].nombre %>
                                        </td>
                                        <td>
                                            <%= data.producto[i].precio %>
                                        </td>
                                        <td>
                                            <%= data.producto[i].cantidad %>
                                        </td>
                                        <td>
                                            <%= data.producto[i].estado %>
                                        </td>
                                        
                                        <td>
                                            <a href="/updateProducto/<%= data.producto[i].id_Producto %>"
                                                class="btn btn-info"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <a onclick="confirmarEliProd(<%= data.producto[i].id_Producto %>)"
                                                class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <%} %>
                                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%- include('../partials/_footer') %>