<%- include('../partials/header') %>

    <title>Editar Producto</title>

    <%- include("../partials/_header") %>

        <div class="container mx-5 my-5">
            <div class="row mx-5">
                <div class="col-md-8 editProveedor">
                    <div class="card">
                        <h5 class="modal-title text-center h2">Editar productos</h5>
                        <div class="card-body">
                            <form action="/updateProducto/<%= data.producto.id_Producto %>" method="post" id="formEditProducto">
                                <div class="form-group mt-4">
                                    <label for="nombre">Nombre del Producto</label>
                                    <input type="text" name="nombre" value="<%= data.producto.nombre %>" class="form-control" disabled id="nombre">
                                </div>
                                <div class="form-group mt-4">
                                    <label for="precio">Precio</label>
                                    <input type="text" name="precio" value="<%= data.producto.precio %>" class="form-control" id="precio">
                                </div>
                                <div class="form-group mt-4">
                                    <label for="cantidad">Cantidad</label>
                                    <input type="text" name="cantidad" value="<%= data.producto.cantidad %>"
                                        class="form-control" id="cantidad">
                                </div>
                                <div class="form-group mt-4">
                                    <label for="estado">Estado</label>
                                    <input type="text" name="estado" value="<%= data.producto.estado %>" class="form-control" id="estado">
                                </div>
                                <div class="text-center mt-4">
                                    <button type="button" class="btn btn-success mt-4" onclick="validarEditarProducto()">Guardar producto </button>
                                    <a class="btn btn-secondary mt-4" href="/producto">Cancelar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .editProveedor {
                width: 100%;
                max-width: 700px;
                padding: 15px;
                margin: auto;
            }

             /* @media (max-width: 320px){
            .container, .row{
                margin: 0px !important;
            }
            } */

            @media (max-width: 768px){
            .container, .row{
                margin: 0px !important;
            }
            }

        </style>

        <%- include("../partials/_footer") %>