<%- include('../partials/header') %>

    <title>Compra</title>

    <%- include('../partials/_header') %>

        <div class="container">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Agregar Compra
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar compra</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-ms-10">
                                <form action="/addCompra" method="post" id="agregarCompra">
                                    <div class="form-group mt-2 ">
                                        <label for="">Fecha</label>
                                        <input type="date" name="fecha" 
                                            class="form-control" id="fecha">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="">Cantidad</label>
                                        <input type="number" name="cantidad"
                                            class="form-control" id="cantidad">
                                    </div>
                                    <div class="form-group mt-2 ">
                                        <label >Total</label>
                                        <input type="number" name="total" 
                                            class="form-control" id="total">
                                    </div>
                                    <div class="form-group mt-2 ">
                                        <label >Estado</label>
                                        <input type="number" name="estado"
                                            class="form-control" id="estado">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label >Productos</label>
                                        <input type="text" name="ProductoN"  class="form-control" id="producto">
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary mt-4" onclick="validarCompra()">Guardar Compra</button>
                                        <button type="button" class="btn btn-secondary mt-4"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal -->

            <div class="row mt-2">
                <div class="col-md-10">
                    <table id="example" class="table table-bordered table-hover me-5 text-center">
                        <thead class="bg-dark text-light">
                            <tr>
                                <th> ID </th>
                                <th>Fecha</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="text-center ">
                            <% if(data.compra){ %>
                                <% for(let i=0; i < data.compra.length; i++ ){%>
                                    <tr>
                                        <td>
                                            <%= (i+1) %>
                                        </td>
                                        <td>
                                            <%= data.compra[i].fecha %>
                                        </td>
                                        <td>
                                            <%= data.compra[i].ProductoN %>
                                        </td>
                                        <td>
                                            <%= (data.compra[i].cantidad ) %>
                                        </td>
                                        <td>
                                            <%= (data.compra[i].total ) %>
                                        </td>
                                        <td>
                                            <%= data.compra[i].estado %>
                                        </td>
                                        <td>
                                            <a onclick="confirmarEliCom(<%= data.compra[i].id_Compra %>)"
                                                class="btn btn-danger">Eliminar</a>
                                        </td>

                                    </tr>
                                    <%} %>
                                        <% } %>
                        </tbody>
                    </table>
                </div>




            </div>

        </div>

        <%- include('../partials/_footer') %>