<%- include("../partials/header") %>

    <title>Editar Usuarios</title>

    <%- include("../partials/_header") %>
    <div class="container mt-5">
        <div class="table-responsive text-center">
            <h3>Permisos</h3>
            <table class="table table-bordered table-hover display nowrap" id="example">
                <thead class="bg-dark text-white text-center">
                    <tr>
                        <th> ID</th>
                        <th>nombrePermiso</th>
                        <th>idDelRol</th>


                    </tr>
                </thead>
                <tbody class="text-center">
                    <% if(data){ %>
                        <% for(let i=0; i < data.length; i++ ){%>
                            <tr>
                                <td>
                                    <%= (i+1) %>
                                </td>
                                <td>
                                    <%= data[i].nombrePermiso %>
                                </td>
                                <td>
                                    <%= data[i].nombreR %>
                                </td>


                            </tr>
                            <%} %>
                                <% } %>
                </tbody>
            </table>
        </div>
    </div>


        <%- include("../partials/_footer") %>