<%- include("../partials/header") %>

  <title>Usuarios</title>

  <%- include("../partials/_header") %>

        <div class="container">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-success mt-4 mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Agregar usuario
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Agregar usuario</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="col-ms-10">
                    <form action="/add" method="post" id="formUsuarios">
                      <div class="form-group mt-2">
                        <input type="text" name="nombre" placeholder="nombre" class="form-control" id="nombre">
                      </div>
                      <div class="form-group mt-2">
                        <input type="text" name="documento" placeholder="documento" id="documento" class="form-control">
                      </div>
                      <div class="form-group mt-2">
                        <input type="email" name="email" placeholder="email" class="form-control" id="email">
                      </div>
                      <div class="form-group mt-2">
                        <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña"
                          id="contrasena" class="form-control">
                      </div>
                      <div class="form-group mt-2">
                        <input type="password" id="contrasenaConfirm" placeholder="Confirmación de contraseña"
                          class="form-control">
                      </div>
                      <div class="form-group mt-2">
                        <input type="text" name="estado" placeholder="estado" class="form-control" id="estado">
                      </div>
                      <div class="form-group invisible ">
                        <input type="number" name="id_Rol" placeholder="id_rol" value="2" class="form-control"
                          id="id_Rol">
                      </div>
                      <div class="text-center">
                        <button type="button" class="btn btn-primary mt-4" onclick="validarUsuario()">Guardar
                          Usuario</button>
                        <button type="button" class="btn btn-secondary mt-4" data-bs-dismiss="modal">Cancelar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="table-responsive">
            <table class="table table-striped table-sm" id="example">
              <thead class="bg-dark text-white text-center">
                <tr>
                  <th> ID</th>
                  <th>Nombre</th>
                  <th>Documento</th>
                  <th>Email</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <% if(data){ %>
                  <% for(let i=0; i < data.length; i++ ){%>
                    <tr>
                      <td>
                        <%= (i+1) %>
                      </td>
                      <td>
                        <%= data[i].nombre %>
                      </td>
                      <td>
                        <%= data[i].documento %>
                      </td>
                      <td>
                        <%= data[i].email %>
                      </td>
                      <td>
                        <%= data[i].estado %>
                      </td>
                      <td>
                        <a href="/update/<%= data[i].id %>" class="btn btn-info">Actualizar</a>
                        <a onclick="confirmarUsu(<%= data[i].id %>)" class="btn btn-danger">Eliminar</a>
                      </td>
                    </tr>
                    <%} %>
                      <% } %>
              </tbody>
            </table>
            
        <%- include("../partials/_footer") %>