<%- include('../partials/header') %>

    <title>Proveedor</title>

    <%- include('../partials/_header') %>

        <div class="container">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success mt-4 mb-4" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Agregar proveedor
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar proveedor</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-ms-12">
                                <form action="/addP" method="post" id="formProveedor">
                                    <div class="form-group mt-2">
                                        <label for="nit">NIT</label>
                                        <input type="text" name="nit"="NIT" class="form-control" id="nit">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" name="nombre"="Nombre del proveedor" class="form-control"
                                            id="nombre">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="telefono">Teléfono</label>
                                        <input type="text" name="telefono" class="form-control" id="telefono">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="email">Correo electrónico</label>
                                        <input type="email" name="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="direccion">Dirección</label>
                                        <input type="text" name="direccion" class="form-control" id="direccion">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="persona_encardada">Nombre de la Persona Encargada</label>
                                        <input type="text" name="persona_Encargada" class="form-control"
                                            id="persona_Encargada">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="telefono_PE">Teléfono de la Persona Encargada</label>
                                        <input type="text" name="telefono_PE" class="form-control" id="telefono_PE">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="estado">Estado</label>
                                        <input type="text" name="estado" class="form-control" id="estado">
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-success mt-4"
                                            onclick="validarProveedor()">Guardar proveedor</button>
                                        <button type="button" class="btn btn-secondary mt-4"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="example" class="table table-bordered table-hover display nowrap">
                    <thead class=" bg-dark text-light text-center">
                        <tr>
                            <th> ID </th>
                            <th>nit</th>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>direccion</th>
                            <th>Estado</th>
                            <th>persona_encardada</th>
                            <th>telefono_pe</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <% if(data){ %>
                            <% for(let i=0; i < data.length; i++ ){%>
                                <tr>
                                    <td>
                                        <%= (i+1) %>
                                    </td>
                                    <td>
                                        <%= data[i].nit %>
                                    </td>
                                    <td>
                                        <%= data[i].nombre %>
                                    </td>
                                    <td>
                                        <%= data[i].telefono %>
                                    </td>
                                    <td>
                                        <%= data[i].email %>
                                    </td>
                                    <td>
                                        <%= data[i].direccion %>
                                    </td>
                                    <td>
                                        <%= data[i].estado %>
                                    </td>
                                    <td>
                                        <%= data[i].persona_Encargada %>
                                    </td>
                                    <td>
                                        <%= data[i].telefono_PE %>
                                    </td>
                                    <td>
                                        <a href="/updateProveedor/<%= data[i].id %>" class="btn btn-info"><i
                                                class="fa-solid fa-pen-to-square"></i></a>
                                        <a onclick="confirmarEliProv(<%= data[i].id %>)" class="btn btn-danger"><i
                                                class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                                <%} %>
                                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        
        <%- include('../partials/_footer') %>