<%- include('../partials/header') %>

    <title>Proveedor</title>

    <%- include('../partials/_header') %>

        <div class="container">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Agregar proveedor
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar proveedor</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-ms-10">
                                <form action="/addP" method="post">
                                    <div class="form-group mt-2">
                                        <input type="text" name="nit" placeholder="nit" class="form-control"  required>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input type="text" name="nombre" placeholder="nombre" class="form-control" required>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input type="text" name="telefono" placeholder="telefono" class="form-control" required>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input type="email" name="email" placeholder="email" class="form-control" required>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input type="text" name="direccion" placeholder="direccion"
                                            class="form-control" required>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input type="text" name="estado" placeholder="estado" class="form-control" required>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input type="text" name="persona_Encargada" placeholder="persona_encardada"
                                            class="form-control" required>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input type="text" name="telefono_PE" placeholder="telefono_pe"
                                            class="form-control" required>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary mt-4">Guardar proveedor</button>
                                        <button type="button" class="btn btn-secondary mt-4"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-10">
                    <table id="example" class="table table-bordered table-hover me-5">
                        <thead class=" bg-dark text-light text-center">
                            <tr>
                                <th> ID </th>
                                <th>nit</th>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>direccion</th>
                                <th>Estado</th>
                                <th>persona_encardada</th>
                                <th>telefono_pe</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <% if(data){ %>
                                <% for(let i=0; i < data.length; i++ ){%>
                                    <tr>
                                        <td>
                                            <%= (i+1) %>
                                        </td>
                                        <td>
                                            <%= data[i].nit %>
                                        </td>
                                        <td>
                                            <%= data[i].nombre %>
                                        </td>
                                        <td>
                                            <%= data[i].telefono %>
                                        </td>
                                        <td>
                                            <%= data[i].email %>
                                        </td>
                                        <td>
                                            <%= data[i].direccion %>
                                        </td>
                                        <td>
                                            <%= data[i].estado %>
                                        </td>
                                        <td>
                                            <%= data[i].persona_Encargada %>
                                        </td>
                                        <td>
                                            <%= data[i].telefono_PE %>
                                        </td>
                                        <td>
                                            <a href="/updateProveedor/<%= data[i].id %>"
                                                class="btn btn-info">Actualizar</a>
                                                <a onclick="confirmarEliProv(<%= data[i].id %>)" class="btn btn-danger">Eliminar</a>
                                        </td>
                                    </tr>
                                    <%} %>
                                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%- include('../partials/_footer') %>