<%- include('../partials/header') %>

    <title>Editar Proveedor</title>

    <%- include("../partials/_header") %>

        <div class="container mx-5 my-5">
            <div class="row mx-5">
                <div class="col-md-8 editProveedor">
                    <div class="card">
                        <h5 class="modal-title text-center h2">Editar proveedor</h5>
                        <div class="card-body">
                            <form action="/updateProveedor/<%= data.id %>" method="post" id="formEditProveedor">
                                <div class="form-group mt-4">
                                    <input type="text" name="nit" value="<%= data.nit %>" class="form-control" id="nit">
                                </div>
                                <div class="form-group mt-4">
                                    <input type="text" name="nombre" value="<%= data.nombre %>" class="form-control" id="nombre">
                                </div>
                                <div class="form-group mt-4">
                                    <input type="text" name="telefono" value="<%= data.telefono %>"
                                        class="form-control" id="telefono">
                                </div>
                                <div class="form-group mt-4">
                                    <input type="email" name="email" value="<%= data.email %>" class="form-control" id="email">
                                </div>
                                <div class="form-group mt-4">
                                    <input type="text" name="direccion" value="<%= data.direccion %>"
                                        class="form-control" id="direccion">
                                </div>
                                <div class="form-group mt-4">
                                    <input type="text" name="estado" value="<%= data.estado %>" class="form-control" id="estado">
                                </div>
                                <div class="form-group mt-4">
                                    <input type="text" name="persona_Encargada" value="<%= data.persona_Encargada %>"
                                        class="form-control" id="persona_Encargada">
                                </div>
                                <div class="form-group mt-4">
                                    <input type="text" name="telefono_PE" value="<%= data.telefono_PE %>"
                                        placeholder="telefono_pe" class="form-control" id="telefono_PE">
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-success mt-4" onclick="validarEditarProveedor()">Guardar proveedor </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .editProveedor {
                width: 100%;
                max-width: 700px;
                padding: 15px;
                margin: auto;
            }

             /* @media (max-width: 320px){
            .container, .row{
                margin: 0px !important;
            }
            } */

            @media (max-width: 768px){
            .container, .row{
                margin: 0px !important;
            }
            }

        </style>

        <%- include("../partials/_footer") %>